NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK" LOC = L4;
NET "BTN_1" LOC = R1;
NET "BTN_1" IOSTANDARD = LVCMOS33;
NET "BTN_2" LOC = P1;
NET "BTN_2" IOSTANDARD = LVCMOS33;
NET "BTN_3" LOC = P4;
NET "BTN_3" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" LOC = Y3;
NET "DIGIT_SEL[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" DRIVE = 24;
NET "DIGIT_SEL[2]" LOC = V3;
NET "DIGIT_SEL[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[2]" DRIVE = 24;
NET "DIGIT_SEL[1]" LOC = V2;
NET "DIGIT_SEL[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[1]" DRIVE = 24;
NET "DIGIT_SEL[0]" LOC = U3;
NET "DIGIT_SEL[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[0]" DRIVE = 24;
NET "DIGIT[7]" LOC = T2;
NET "DIGIT[7]" IOSTANDARD = LVCMOS33;
NET "DIGIT[7]" DRIVE = 2;
NET "DIGIT[6]" LOC = U1;
NET "DIGIT[6]" IOSTANDARD = LVCMOS33;
NET "DIGIT[6]" DRIVE = 2;
NET "DIGIT[5]" LOC = W1;
NET "DIGIT[5]" IOSTANDARD = LVCMOS33;
NET "DIGIT[5]" DRIVE = 2;
NET "DIGIT[4]" LOC = R3;
NET "DIGIT[4]" IOSTANDARD = LVCMOS33;
NET "DIGIT[4]" DRIVE = 2;
NET "DIGIT[3]" LOC = T1;
NET "DIGIT[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT[3]" DRIVE = 2;
NET "DIGIT[2]" LOC = T3;
NET "DIGIT[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT[2]" DRIVE = 2;
NET "DIGIT[1]" LOC = V1;
NET "DIGIT[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT[1]" DRIVE = 2;
NET "DIGIT[0]" LOC = W3;
NET "DIGIT[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" DRIVE = 2;
NET "DIV32" LOC = P3;
NET "DIV32" IOSTANDARD = LVCMOS33;
NET "NT_SEL_RX_A" LOC = J1;
NET "NT_SEL_RX_A" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "PLL_LOCK" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "PLL_LOCK" LOC = P2;

# PlanAhead Generated IO constraints 


# PlanAhead Generated physical constraints 

NET "DOUT[0]" LOC = B10;
NET "DIN[0]" LOC = B12;

NET "NT_SEL_RX_B" LOC = J1;
NET "NT_SEL_RX_B" IOSTANDARD = LVCMOS33;
NET "NT_SEL_TX_A" LOC = J1;
NET "NT_SEL_TX_A" IOSTANDARD = LVCMOS33;
NET "NT_SEL_TX_B" LOC = J1;
NET "NT_SEL_TX_B" IOSTANDARD = LVCMOS33;
NET "NT_PD_BIAS_A" LOC = J1;
NET "NT_PD_BIAS_A" IOSTANDARD = LVCMOS33;
NET "NT_PD_BIAS_B" LOC = J1;
NET "NT_PD_BIAS_B" IOSTANDARD = LVCMOS33;
NET "NT_IDSET_A[1]" LOC = J1;
NET "NT_IDSET_A[1]" IOSTANDARD = LVCMOS33;
NET "NT_IDSET_A[0]" LOC = J1;
NET "NT_IDSET_A[0]" IOSTANDARD = LVCMOS33;
NET "NT_IDSET_B[1]" LOC = J1;
NET "NT_IDSET_B[1]" IOSTANDARD = LVCMOS33;
NET "NT_IDSET_B[0]" LOC = J1;
NET "NT_IDSET_B[0]" IOSTANDARD = LVCMOS33;
NET "NT_HYST_A" LOC = J1;
NET "NT_HYST_A" IOSTANDARD = LVCMOS33;
NET "NT_HYST_B" LOC = J1;
NET "NT_HYST_B" IOSTANDARD = LVCMOS33;
NET "NT_DRV_STR_A[1]" LOC = J1;
NET "NT_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
NET "NT_DRV_STR_A[0]" LOC = J1;
NET "NT_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
NET "NT_DRV_STR_B[1]" LOC = J1;
NET "NT_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
NET "NT_DRV_STR_B[0]" LOC = J1;
NET "NT_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
NET "NT_SR_A" LOC = J1;
NET "NT_SR_A" IOSTANDARD = LVCMOS33;
NET "NT_SR_B" LOC = J1;
NET "NT_SR_B" IOSTANDARD = LVCMOS33;
NET "NT_PUDEN_TX_A" LOC = J1;
NET "NT_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
NET "NT_PUDEN_TX_B" LOC = J1;
NET "NT_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
NET "NT_PUDEN_RX_A" LOC = J1;
NET "NT_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
NET "NT_PUDEN_RX_B" LOC = J1;
NET "NT_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
NET "NT_PUDPOL_TX_A" LOC = J1;
NET "NT_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
NET "NT_PUDPOL_TX_B" LOC = J1;
NET "NT_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
NET "NT_PUDPOL_RX_A" LOC = J1;
NET "NT_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
NET "NT_PUDPOL_RX_B" LOC = J1;
NET "NT_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
NET "NT_TEST_A[1]" LOC = J1;
NET "NT_TEST_A[1]" IOSTANDARD = LVCMOS33;
NET "NT_TEST_A[0]" LOC = J1;
NET "NT_TEST_A[0]" IOSTANDARD = LVCMOS33;
NET "NT_TEST_B[1]" LOC = J1;
NET "NT_TEST_B[1]" IOSTANDARD = LVCMOS33;
NET "NT_TEST_B[0]" LOC = J1;
NET "NT_TEST_B[0]" IOSTANDARD = LVCMOS33;
NET "NT_POR" LOC = J1;
NET "NT_POR" IOSTANDARD = LVCMOS33;
NET "NTA_DIN[1]" LOC = J1;
NET "NTA_DIN[1]" IOSTANDARD = LVCMOS33;
NET "NTA_DIN[0]" LOC = J1;
NET "NTA_DIN[0]" IOSTANDARD = LVCMOS33;
NET "NTA_DOUT[1]" LOC = J1;
NET "NTA_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "NTA_DOUT[0]" LOC = J1;
NET "NTA_DOUT[0]" IOSTANDARD = LVCMOS33;
NET "NTB_DIN[1]" LOC = J1;
NET "NTB_DIN[1]" IOSTANDARD = LVCMOS33;
NET "NTB_DIN[0]" LOC = J1;
NET "NTB_DIN[0]" IOSTANDARD = LVCMOS33;
NET "NTB_DOUT[1]" LOC = J1;
NET "NTB_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "NTB_DOUT[0]" LOC = J1;
NET "NTB_DOUT[0]" IOSTANDARD = LVCMOS33;

NET "ET_SEL_RX_A" LOC = J1;
NET "ET_SEL_RX_A" IOSTANDARD = LVCMOS33;
NET "ET_SEL_RX_B" LOC = J1;
NET "ET_SEL_RX_B" IOSTANDARD = LVCMOS33;
NET "ET_SEL_TX_A" LOC = J1;
NET "ET_SEL_TX_A" IOSTANDARD = LVCMOS33;
NET "ET_SEL_TX_B" LOC = J1;
NET "ET_SEL_TX_B" IOSTANDARD = LVCMOS33;
NET "ET_PD_BIAS_A" LOC = J1;
NET "ET_PD_BIAS_A" IOSTANDARD = LVCMOS33;
NET "ET_PD_BIAS_B" LOC = J1;
NET "ET_PD_BIAS_B" IOSTANDARD = LVCMOS33;
NET "ET_IDSET_A[1]" LOC = J1;
NET "ET_IDSET_A[1]" IOSTANDARD = LVCMOS33;
NET "ET_IDSET_A[0]" LOC = J1;
NET "ET_IDSET_A[0]" IOSTANDARD = LVCMOS33;
NET "ET_IDSET_B[1]" LOC = J1;
NET "ET_IDSET_B[1]" IOSTANDARD = LVCMOS33;
NET "ET_IDSET_B[0]" LOC = J1;
NET "ET_IDSET_B[0]" IOSTANDARD = LVCMOS33;
NET "ET_HYST_A" LOC = J1;
NET "ET_HYST_A" IOSTANDARD = LVCMOS33;
NET "ET_HYST_B" LOC = J1;
NET "ET_HYST_B" IOSTANDARD = LVCMOS33;
NET "ET_DRV_STR_A[1]" LOC = J1;
NET "ET_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
NET "ET_DRV_STR_A[0]" LOC = J1;
NET "ET_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
NET "ET_DRV_STR_B[1]" LOC = J1;
NET "ET_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
NET "ET_DRV_STR_B[0]" LOC = J1;
NET "ET_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
NET "ET_SR_A" LOC = J1;
NET "ET_SR_A" IOSTANDARD = LVCMOS33;
NET "ET_SR_B" LOC = J1;
NET "ET_SR_B" IOSTANDARD = LVCMOS33;
NET "ET_PUDEN_TX_A" LOC = J1;
NET "ET_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
NET "ET_PUDEN_TX_B" LOC = J1;
NET "ET_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
NET "ET_PUDEN_RX_A" LOC = J1;
NET "ET_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
NET "ET_PUDEN_RX_B" LOC = J1;
NET "ET_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
NET "ET_PUDPOL_TX_A" LOC = J1;
NET "ET_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
NET "ET_PUDPOL_TX_B" LOC = J1;
NET "ET_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
NET "ET_PUDPOL_RX_A" LOC = J1;
NET "ET_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
NET "ET_PUDPOL_RX_B" LOC = J1;
NET "ET_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
NET "ET_TEST_A[1]" LOC = J1;
NET "ET_TEST_A[1]" IOSTANDARD = LVCMOS33;
NET "ET_TEST_A[0]" LOC = J1;
NET "ET_TEST_A[0]" IOSTANDARD = LVCMOS33;
NET "ET_TEST_B[1]" LOC = J1;
NET "ET_TEST_B[1]" IOSTANDARD = LVCMOS33;
NET "ET_TEST_B[0]" LOC = J1;
NET "ET_TEST_B[0]" IOSTANDARD = LVCMOS33;
NET "ET_POR" LOC = J1;
NET "ET_POR" IOSTANDARD = LVCMOS33;
NET "ETA_DIN[1]" LOC = J1;
NET "ETA_DIN[1]" IOSTANDARD = LVCMOS33;
NET "ETA_DIN[0]" LOC = J1;
NET "ETA_DIN[0]" IOSTANDARD = LVCMOS33;
NET "ETA_DOUT[1]" LOC = J1;
NET "ETA_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "ETA_DOUT[0]" LOC = J1;
NET "ETA_DOUT[0]" IOSTANDARD = LVCMOS33;
NET "ETB_DIN[1]" LOC = J1;
NET "ETB_DIN[1]" IOSTANDARD = LVCMOS33;
NET "ETB_DIN[0]" LOC = J1;
NET "ETB_DIN[0]" IOSTANDARD = LVCMOS33;
NET "ETB_DOUT[1]" LOC = J1;
NET "ETB_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "ETB_DOUT[0]" LOC = J1;
NET "ETB_DOUT[0]" IOSTANDARD = LVCMOS33;

NET "ST_SEL_RX_A" LOC = J1;
NET "ST_SEL_RX_A" IOSTANDARD = LVCMOS33;
NET "ST_SEL_RX_B" LOC = J1;
NET "ST_SEL_RX_B" IOSTANDARD = LVCMOS33;
NET "ST_SEL_TX_A" LOC = J1;
NET "ST_SEL_TX_A" IOSTANDARD = LVCMOS33;
NET "ST_SEL_TX_B" LOC = J1;
NET "ST_SEL_TX_B" IOSTANDARD = LVCMOS33;
NET "ST_PD_BIAS_A" LOC = J1;
NET "ST_PD_BIAS_A" IOSTANDARD = LVCMOS33;
NET "ST_PD_BIAS_B" LOC = J1;
NET "ST_PD_BIAS_B" IOSTANDARD = LVCMOS33;
NET "ST_IDSET_A[1]" LOC = J1;
NET "ST_IDSET_A[1]" IOSTANDARD = LVCMOS33;
NET "ST_IDSET_A[0]" LOC = J1;
NET "ST_IDSET_A[0]" IOSTANDARD = LVCMOS33;
NET "ST_IDSET_B[1]" LOC = J1;
NET "ST_IDSET_B[1]" IOSTANDARD = LVCMOS33;
NET "ST_IDSET_B[0]" LOC = J1;
NET "ST_IDSET_B[0]" IOSTANDARD = LVCMOS33;
NET "ST_HYST_A" LOC = J1;
NET "ST_HYST_A" IOSTANDARD = LVCMOS33;
NET "ST_HYST_B" LOC = J1;
NET "ST_HYST_B" IOSTANDARD = LVCMOS33;
NET "ST_DRV_STR_A[1]" LOC = J1;
NET "ST_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
NET "ST_DRV_STR_A[0]" LOC = J1;
NET "ST_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
NET "ST_DRV_STR_B[1]" LOC = J1;
NET "ST_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
NET "ST_DRV_STR_B[0]" LOC = J1;
NET "ST_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
NET "ST_SR_A" LOC = J1;
NET "ST_SR_A" IOSTANDARD = LVCMOS33;
NET "ST_SR_B" LOC = J1;
NET "ST_SR_B" IOSTANDARD = LVCMOS33;
NET "ST_PUDEN_TX_A" LOC = J1;
NET "ST_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
NET "ST_PUDEN_TX_B" LOC = J1;
NET "ST_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
NET "ST_PUDEN_RX_A" LOC = J1;
NET "ST_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
NET "ST_PUDEN_RX_B" LOC = J1;
NET "ST_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
NET "ST_PUDPOL_TX_A" LOC = J1;
NET "ST_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
NET "ST_PUDPOL_TX_B" LOC = J1;
NET "ST_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
NET "ST_PUDPOL_RX_A" LOC = J1;
NET "ST_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
NET "ST_PUDPOL_RX_B" LOC = J1;
NET "ST_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
NET "ST_TEST_A[1]" LOC = J1;
NET "ST_TEST_A[1]" IOSTANDARD = LVCMOS33;
NET "ST_TEST_A[0]" LOC = J1;
NET "ST_TEST_A[0]" IOSTANDARD = LVCMOS33;
NET "ST_TEST_B[1]" LOC = J1;
NET "ST_TEST_B[1]" IOSTANDARD = LVCMOS33;
NET "ST_TEST_B[0]" LOC = J1;
NET "ST_TEST_B[0]" IOSTANDARD = LVCMOS33;
NET "ST_POR" LOC = J1;
NET "ST_POR" IOSTANDARD = LVCMOS33;
NET "ST_DIN[1]" LOC = J1;
NET "ST_DIN[1]" IOSTANDARD = LVCMOS33;
NET "ST_DIN[0]" LOC = J1;
NET "ST_DIN[0]" IOSTANDARD = LVCMOS33;
NET "ST_DOUT[1]" LOC = J1;
NET "ST_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "ST_DOUT[0]" LOC = J1;
NET "ST_DOUT[0]" IOSTANDARD = LVCMOS33;

NET "SC_SEL_RX_A" LOC = J1;
NET "SC_SEL_RX_A" IOSTANDARD = LVCMOS33;
NET "SC_SEL_RX_B" LOC = J1;
NET "SC_SEL_RX_B" IOSTANDARD = LVCMOS33;
NET "SC_SEL_TX_A" LOC = J1;
NET "SC_SEL_TX_A" IOSTANDARD = LVCMOS33;
NET "SC_SEL_TX_B" LOC = J1;
NET "SC_SEL_TX_B" IOSTANDARD = LVCMOS33;
NET "SC_PD_BIAS_A" LOC = J1;
NET "SC_PD_BIAS_A" IOSTANDARD = LVCMOS33;
NET "SC_PD_BIAS_B" LOC = J1;
NET "SC_PD_BIAS_B" IOSTANDARD = LVCMOS33;
NET "SC_IDSET_A[1]" LOC = J1;
NET "SC_IDSET_A[1]" IOSTANDARD = LVCMOS33;
NET "SC_IDSET_A[0]" LOC = J1;
NET "SC_IDSET_A[0]" IOSTANDARD = LVCMOS33;
NET "SC_IDSET_B[1]" LOC = J1;
NET "SC_IDSET_B[1]" IOSTANDARD = LVCMOS33;
NET "SC_IDSET_B[0]" LOC = J1;
NET "SC_IDSET_B[0]" IOSTANDARD = LVCMOS33;
NET "SC_HYST_A" LOC = J1;
NET "SC_HYST_A" IOSTANDARD = LVCMOS33;
NET "SC_HYST_B" LOC = J1;
NET "SC_HYST_B" IOSTANDARD = LVCMOS33;
NET "SC_DRV_STR_A[1]" LOC = J1;
NET "SC_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
NET "SC_DRV_STR_A[0]" LOC = J1;
NET "SC_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
NET "SC_DRV_STR_B[1]" LOC = J1;
NET "SC_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
NET "SC_DRV_STR_B[0]" LOC = J1;
NET "SC_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
NET "SC_SR_A" LOC = J1;
NET "SC_SR_A" IOSTANDARD = LVCMOS33;
NET "SC_SR_B" LOC = J1;
NET "SC_SR_B" IOSTANDARD = LVCMOS33;
NET "SC_PUDEN_TX_A" LOC = J1;
NET "SC_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
NET "SC_PUDEN_TX_B" LOC = J1;
NET "SC_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
NET "SC_PUDEN_RX_A" LOC = J1;
NET "SC_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
NET "SC_PUDEN_RX_B" LOC = J1;
NET "SC_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
NET "SC_PUDPOL_TX_A" LOC = J1;
NET "SC_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
NET "SC_PUDPOL_TX_B" LOC = J1;
NET "SC_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
NET "SC_PUDPOL_RX_A" LOC = J1;
NET "SC_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
NET "SC_PUDPOL_RX_B" LOC = J1;
NET "SC_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
NET "SC_TEST_A[1]" LOC = J1;
NET "SC_TEST_A[1]" IOSTANDARD = LVCMOS33;
NET "SC_TEST_A[0]" LOC = J1;
NET "SC_TEST_A[0]" IOSTANDARD = LVCMOS33;
NET "SC_TEST_B[1]" LOC = J1;
NET "SC_TEST_B[1]" IOSTANDARD = LVCMOS33;
NET "SC_TEST_B[0]" LOC = J1;
NET "SC_TEST_B[0]" IOSTANDARD = LVCMOS33;
NET "SC_POR" LOC = J1;
NET "SC_POR" IOSTANDARD = LVCMOS33;
NET "SCA_DIN[1]" LOC = J1;
NET "SCA_DIN[1]" IOSTANDARD = LVCMOS33;
NET "SCA_DIN[0]" LOC = J1;
NET "SCA_DIN[0]" IOSTANDARD = LVCMOS33;
NET "SCA_DOUT[1]" LOC = J1;
NET "SCA_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "SCA_DOUT[0]" LOC = J1;
NET "SCA_DOUT[0]" IOSTANDARD = LVCMOS33;
NET "SCB_DIN[1]" LOC = J1;
NET "SCB_DIN[1]" IOSTANDARD = LVCMOS33;
NET "SCB_DIN[0]" LOC = J1;
NET "SCB_DIN[0]" IOSTANDARD = LVCMOS33;
NET "SCB_DOUT[1]" LOC = J1;
NET "SCB_DOUT[1]" IOSTANDARD = LVCMOS33;
NET "SCB_DOUT[0]" LOC = J1;
NET "SCB_DOUT[0]" IOSTANDARD = LVCMOS33;

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "CLK_IBUF_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "i_pll_ctrl/i_pll_adv.DCLK" CLOCK_DEDICATED_ROUTE = FALSE;
#Created by Constraints Editor (xc6slx75-fgg484-3) - 2017/09/20
NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_CLK = PERIOD "CLK" 50 ns HIGH 50 %;

# PlanAhead Generated physical constraints

CONFIG PROHIBIT = PLL_ADV_X0Y0;
CONFIG PROHIBIT = PLL_ADV_X0Y1;
CONFIG PROHIBIT = PLL_ADV_X0Y2;
