NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK" LOC = L4;
NET "BTN_1" LOC = R1;
NET "BTN_1" IOSTANDARD = LVCMOS33;
NET "BTN_2" LOC = P1;
NET "BTN_2" IOSTANDARD = LVCMOS33;
NET "BTN_3" LOC = P4;
NET "BTN_3" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" LOC = Y3;
NET "DIGIT_SEL[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" DRIVE = 24;
NET "DIGIT_SEL[2]" LOC = V3;
NET "DIGIT_SEL[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[2]" DRIVE = 24;
NET "DIGIT_SEL[1]" LOC = V2;
NET "DIGIT_SEL[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[1]" DRIVE = 24;
NET "DIGIT_SEL[0]" LOC = U3;
NET "DIGIT_SEL[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[0]" DRIVE = 24;
NET "DIGIT[7]" LOC = T2;
NET "DIGIT[7]" IOSTANDARD = LVCMOS33;
NET "DIGIT[7]" DRIVE = 2;
NET "DIGIT[6]" LOC = U1;
NET "DIGIT[6]" IOSTANDARD = LVCMOS33;
NET "DIGIT[6]" DRIVE = 2;
NET "DIGIT[5]" LOC = W1;
NET "DIGIT[5]" IOSTANDARD = LVCMOS33;
NET "DIGIT[5]" DRIVE = 2;
NET "DIGIT[4]" LOC = R3;
NET "DIGIT[4]" IOSTANDARD = LVCMOS33;
NET "DIGIT[4]" DRIVE = 2;
NET "DIGIT[3]" LOC = T1;
NET "DIGIT[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT[3]" DRIVE = 2;
NET "DIGIT[2]" LOC = T3;
NET "DIGIT[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT[2]" DRIVE = 2;
NET "DIGIT[1]" LOC = V1;
NET "DIGIT[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT[1]" DRIVE = 2;
NET "DIGIT[0]" LOC = W3;
NET "DIGIT[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" DRIVE = 2;

NET "SEL_RX_A" LOC = J1;
NET "SEL_RX_A" IOSTANDARD = LVCMOS33;
NET "SEL_RX_B" LOC = A5;
NET "SEL_RX_B" IOSTANDARD = LVCMOS33;
NET "SEL_TX_A" LOC = K3;
NET "SEL_TX_A" IOSTANDARD = LVCMOS33;
NET "SEL_TX_B" LOC = C6;
NET "SEL_TX_B" IOSTANDARD = LVCMOS33;
NET "PD_BIAS_A" LOC = H3;
NET "PD_BIAS_A" IOSTANDARD = LVCMOS33;
NET "PD_BIAS_B" LOC = A4;
NET "PD_BIAS_B" IOSTANDARD = LVCMOS33;
NET "IDSET_A[1]" LOC = L1;
NET "IDSET_A[1]" IOSTANDARD = LVCMOS33;
NET "IDSET_A[0]" LOC = L3;
NET "IDSET_A[0]" IOSTANDARD = LVCMOS33;
NET "IDSET_B[1]" LOC = A7;
NET "IDSET_B[1]" IOSTANDARD = LVCMOS33;
NET "IDSET_B[0]" LOC = C7;
NET "IDSET_B[0]" IOSTANDARD = LVCMOS33;
NET "HYST_A" LOC = J3;
NET "HYST_A" IOSTANDARD = LVCMOS33;
NET "HYST_B" LOC = C5;
NET "HYST_B" IOSTANDARD = LVCMOS33;
NET "DRV_STR_A[1]" LOC = M1;
NET "DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
NET "DRV_STR_A[0]" LOC = M2;
NET "DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
NET "DRV_STR_B[1]" LOC = B8;
NET "DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
NET "DRV_STR_B[0]" LOC = C8;
NET "DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
NET "SR_A" LOC = N1;
NET "SR_A" IOSTANDARD = LVCMOS33;
NET "SR_B" LOC = A8;
NET "SR_B" IOSTANDARD = LVCMOS33;
NET "PUDEN_TX_A" LOC = G3;
NET "PUDEN_TX_A" IOSTANDARD = LVCMOS33;
NET "PUDEN_TX_B" LOC = A2;
NET "PUDEN_TX_B" IOSTANDARD = LVCMOS33;
NET "PUDEN_RX_A" LOC = F1;
NET "PUDEN_RX_A" IOSTANDARD = LVCMOS33;
NET "PUDEN_RX_B" LOC = C3;
NET "PUDEN_RX_B" IOSTANDARD = LVCMOS33;
NET "PUDPOL_TX_A" LOC = F2;
NET "PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
NET "PUDPOL_TX_B" LOC = C1;
NET "PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
NET "PUDPOL_RX_A" LOC = F3;
NET "PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
NET "PUDPOL_RX_B" LOC = D1;
NET "PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
NET "TEST_A[1]" LOC = E3;
NET "TEST_A[1]" IOSTANDARD = LVCMOS33;
NET "TEST_A[0]" LOC = E1;
NET "TEST_A[0]" IOSTANDARD = LVCMOS33;
NET "TEST_B[1]" LOC = D3;
NET "TEST_B[1]" IOSTANDARD = LVCMOS33;
NET "TEST_B[0]" LOC = D2;
NET "TEST_B[0]" IOSTANDARD = LVCMOS33;
NET "POR" LOC = B3;
NET "POR" IOSTANDARD = LVCMOS33;
NET "DIN[0]" LOC = B6;
NET "DOUT[0]" LOC = B2;

NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 36 ns HIGH 50 %;
NET "clk_div2" TNM_NET = clk_div2;
TIMESPEC TS_clk_div2 = PERIOD "clk_div2" 72 ns HIGH 50 %;
NET "i_pll_ctrl/clkout0" TNM_NET = i_pll_ctrl_clkout0;
TIMESPEC TS_i_pll_ctrl_clkout0 = PERIOD "i_pll_ctrl_clkout0" TS_CLK / 24 HIGH 50 %;
NET "i_pll_ctrl/clkout1" TNM_NET = i_pll_ctrl_clkout1;
TIMESPEC TS_i_pll_ctrl_clkout1 = PERIOD "i_pll_ctrl_clkout1" TS_CLK / 6 HIGH 50 %;
NET "i_pll_ctrl/CLKF" TNM_NET = i_pll_ctrl_CLKF;
TIMESPEC TS_i_pll_ctrl_CLKF = PERIOD "i_pll_ctrl_CLKF" TS_i_pll_ctrl_clkout1 * 4 phase 4.5 ns HIGH 50%;
NET "i_pll_ctrl/RSTXS" TIG = TS_CLK;
NET "i_pll_ctrl/RSTXS" TIG = TS_i_pll_ctrl_CLKF;
NET "i_pll_ctrl/RSTXS" TIG = TS_i_pll_ctrl_clkout1;
NET "i_pll_ctrl/RSTXS" TIG = TS_i_pll_ctrl_clkout0;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_CLK;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_i_pll_ctrl_CLKF;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_i_pll_ctrl_clkout1;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_i_pll_ctrl_clkout0;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_CLK;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_i_pll_ctrl_CLKF;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_i_pll_ctrl_clkout1;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_i_pll_ctrl_clkout0;
INST "i_stimulus/i_lvds1/i_serial_send/din_d1_*" TNM = grp_parallel_out;
INST "i_stimulus/i_lvds1/i_serial_send/shift_*" TNM = serial_out;
TIMESPEC TS_p2s = FROM "grp_parallel_out" TO "serial_out" 10 ns;
INST "i_stimulus/i_lvds1/i_serial_recv/DOUT_*" TNM = serial_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_0" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_1" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_2" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_3" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_4" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_5" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_6" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_7" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_8" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_9" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_10" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_11" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_12" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_13" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_14" TNM = parallel_in;
INST "i_stimulus/i_lvds1/i_word_align/din_shift_15" TNM = parallel_in;
TIMESPEC TS_s2p = FROM "serial_in" TO "parallel_in" 10 ns;
INST "i_stimulus/i_lvds1/i_parallel_send/PHY_INIT" TNM = phy_init_src;
INST "i_stimulus/i_lvds1/i_serial_recv/Mshreg_phy_init_d2" TNM = phy_init_dst;
TIMESPEC TS_phy_init = FROM "phy_init_src" TO "phy_init_dst" TIG;
