

NET "BTN_DN" IOSTANDARD = LVCMOS33;
NET "BTN_UP" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "DIV32" IOSTANDARD = LVCMOS33;
NET "PLL_LOCK" IOSTANDARD = LVCMOS33;
NET "RSTX" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[7]" IOSTANDARD = LVCMOS33;
NET "DIGIT[6]" IOSTANDARD = LVCMOS33;
NET "DIGIT[5]" IOSTANDARD = LVCMOS33;
NET "DIGIT[4]" IOSTANDARD = LVCMOS33;
NET "DIGIT[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[7]" DRIVE = 2;
NET "DIGIT[6]" DRIVE = 2;
NET "DIGIT[5]" DRIVE = 2;
NET "DIGIT[4]" DRIVE = 2;
NET "DIGIT[3]" DRIVE = 2;
NET "DIGIT[2]" DRIVE = 2;
NET "DIGIT[1]" DRIVE = 2;
NET "DIGIT[0]" DRIVE = 2;
NET "DIGIT_SEL[3]" DRIVE = 24;
NET "DIGIT_SEL[2]" DRIVE = 24;
NET "DIGIT_SEL[1]" DRIVE = 24;
NET "DIGIT_SEL[0]" DRIVE = 24;
NET "DIGIT_SEL[3]" PULLUP;
NET "DIGIT_SEL[2]" PULLUP;
NET "DIGIT_SEL[1]" PULLUP;
NET "DIGIT_SEL[0]" PULLUP;
NET "DIGIT[7]" PULLDOWN;
NET "DIGIT[6]" PULLDOWN;
NET "DIGIT[5]" PULLDOWN;
NET "DIGIT[4]" PULLDOWN;
NET "DIGIT[3]" PULLDOWN;
NET "DIGIT[2]" PULLDOWN;
NET "DIGIT[1]" PULLDOWN;
NET "DIGIT[0]" PULLDOWN;


NET "BTN_DN" LOC = R1;
NET "BTN_UP" LOC = P1;
NET "DIGIT_SEL[0]" LOC = U3;
NET "DIGIT_SEL[1]" LOC = V2;
NET "DIGIT_SEL[2]" LOC = V3;
NET "DIGIT_SEL[3]" LOC = Y3;
NET "DIGIT[0]" LOC = W3;
NET "DIGIT[1]" LOC = V1;
NET "DIGIT[2]" LOC = T3;
NET "DIGIT[3]" LOC = T1;
NET "DIGIT[4]" LOC = R3;
NET "DIGIT[5]" LOC = W1;
NET "DIGIT[6]" LOC = U1;
NET "DIGIT[7]" LOC = T2;
NET "CLK" LOC = L4;
NET "DIV32" LOC = P3;
NET "PLL_LOCK" LOC = P2;
NET "RSTX" LOC = P4;

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "CLK_IBUF_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "i_pll_ctrl/i_pll_adv.DCLK" CLOCK_DEDICATED_ROUTE = FALSE;
#Created by Constraints Editor (xc6slx75-fgg484-3) - 2017/09/20
NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_CLK = PERIOD "CLK" 50 ns HIGH 50 %;

# PlanAhead Generated physical constraints 

CONFIG PROHIBIT = PLL_ADV_X0Y0;
CONFIG PROHIBIT = PLL_ADV_X0Y1;
CONFIG PROHIBIT = PLL_ADV_X0Y2;
