NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK" LOC = L4;
NET "BTN_1" LOC = R1;
NET "BTN_1" IOSTANDARD = LVCMOS33;
NET "BTN_2" LOC = P1;
NET "BTN_2" IOSTANDARD = LVCMOS33;
NET "BTN_3" LOC = P4;
NET "BTN_3" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" LOC = Y3;
NET "DIGIT_SEL[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[3]" DRIVE = 24;
NET "DIGIT_SEL[2]" LOC = V3;
NET "DIGIT_SEL[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[2]" DRIVE = 24;
NET "DIGIT_SEL[1]" LOC = V2;
NET "DIGIT_SEL[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[1]" DRIVE = 24;
NET "DIGIT_SEL[0]" LOC = U3;
NET "DIGIT_SEL[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT_SEL[0]" DRIVE = 24;
NET "DIGIT[7]" LOC = T2;
NET "DIGIT[7]" IOSTANDARD = LVCMOS33;
NET "DIGIT[7]" DRIVE = 2;
NET "DIGIT[6]" LOC = U1;
NET "DIGIT[6]" IOSTANDARD = LVCMOS33;
NET "DIGIT[6]" DRIVE = 2;
NET "DIGIT[5]" LOC = W1;
NET "DIGIT[5]" IOSTANDARD = LVCMOS33;
NET "DIGIT[5]" DRIVE = 2;
NET "DIGIT[4]" LOC = R3;
NET "DIGIT[4]" IOSTANDARD = LVCMOS33;
NET "DIGIT[4]" DRIVE = 2;
NET "DIGIT[3]" LOC = T1;
NET "DIGIT[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT[3]" DRIVE = 2;
NET "DIGIT[2]" LOC = T3;
NET "DIGIT[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT[2]" DRIVE = 2;
NET "DIGIT[1]" LOC = V1;
NET "DIGIT[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT[1]" DRIVE = 2;
NET "DIGIT[0]" LOC = W3;
NET "DIGIT[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" DRIVE = 2;
#NET "DIV32" LOC = P3;
#NET "DIV32" IOSTANDARD = LVCMOS33;
#NET "NT_SEL_RX_A" LOC = J1;
#NET "NT_SEL_RX_A" IOSTANDARD = LVCMOS33;
#NET "NT_SEL_RX_B" LOC = A5;
#NET "NT_SEL_RX_B" IOSTANDARD = LVCMOS33;
#NET "NT_SEL_TX_A" LOC = K3;
#NET "NT_SEL_TX_A" IOSTANDARD = LVCMOS33;
#NET "NT_SEL_TX_B" LOC = C6;
#NET "NT_SEL_TX_B" IOSTANDARD = LVCMOS33;
#NET "NT_PD_BIAS_A" LOC = H3;
#NET "NT_PD_BIAS_A" IOSTANDARD = LVCMOS33;
#NET "NT_PD_BIAS_B" LOC = A4;
#NET "NT_PD_BIAS_B" IOSTANDARD = LVCMOS33;
#NET "NT_IDSET_A[1]" LOC = L1;
#NET "NT_IDSET_A[1]" IOSTANDARD = LVCMOS33;
#NET "NT_IDSET_A[0]" LOC = L3;
#NET "NT_IDSET_A[0]" IOSTANDARD = LVCMOS33;
#NET "NT_IDSET_B[1]" LOC = A7;
#NET "NT_IDSET_B[1]" IOSTANDARD = LVCMOS33;
#NET "NT_IDSET_B[0]" LOC = C7;
#NET "NT_IDSET_B[0]" IOSTANDARD = LVCMOS33;
#NET "NT_HYST_A" LOC = J3;
#NET "NT_HYST_A" IOSTANDARD = LVCMOS33;
#NET "NT_HYST_B" LOC = C5;
#NET "NT_HYST_B" IOSTANDARD = LVCMOS33;
#NET "NT_DRV_STR_A[1]" LOC = M1;
#NET "NT_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
#NET "NT_DRV_STR_A[0]" LOC = M2;
#NET "NT_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
#NET "NT_DRV_STR_B[1]" LOC = B8;
#NET "NT_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
#NET "NT_DRV_STR_B[0]" LOC = C8;
#NET "NT_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
#NET "NT_SR_A" LOC = N1;
#NET "NT_SR_A" IOSTANDARD = LVCMOS33;
#NET "NT_SR_B" LOC = A8;
#NET "NT_SR_B" IOSTANDARD = LVCMOS33;
#NET "NT_PUDEN_TX_A" LOC = G3;
#NET "NT_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
#NET "NT_PUDEN_TX_B" LOC = A2;
#NET "NT_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
#NET "NT_PUDEN_RX_A" LOC = F1;
#NET "NT_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
#NET "NT_PUDEN_RX_B" LOC = C3;
#NET "NT_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
#NET "NT_PUDPOL_TX_A" LOC = F2;
#NET "NT_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
#NET "NT_PUDPOL_TX_B" LOC = C1;
#NET "NT_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
#NET "NT_PUDPOL_RX_A" LOC = F3;
#NET "NT_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
#NET "NT_PUDPOL_RX_B" LOC = D1;
#NET "NT_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
#NET "NT_TEST_A[1]" LOC = E3;
#NET "NT_TEST_A[1]" IOSTANDARD = LVCMOS33;
#NET "NT_TEST_A[0]" LOC = E1;
#NET "NT_TEST_A[0]" IOSTANDARD = LVCMOS33;
#NET "NT_TEST_B[1]" LOC = D3;
#NET "NT_TEST_B[1]" IOSTANDARD = LVCMOS33;
#NET "NT_TEST_B[0]" LOC = D2;
#NET "NT_TEST_B[0]" IOSTANDARD = LVCMOS33;
#NET "NT_POR" LOC = B3;
#NET "NT_POR" IOSTANDARD = LVCMOS33;
#NET "NTA_DIN[0]" LOC = H2;
#NET "NTA_DOUT[0]" LOC = K2;
#NET "NTB_DIN[0]" LOC = B6;
#NET "NTB_DOUT[0]" LOC = B2;
#NET "ET_SEL_RX_A" LOC = G20;
#NET "ET_SEL_RX_A" IOSTANDARD = LVCMOS33;
#NET "ET_SEL_RX_B" LOC = U20;
#NET "ET_SEL_RX_B" IOSTANDARD = LVCMOS33;
#NET "ET_SEL_TX_A" LOC = G22;
#NET "ET_SEL_TX_A" IOSTANDARD = LVCMOS33;
#NET "ET_SEL_TX_B" LOC = U22;
#NET "ET_SEL_TX_B" IOSTANDARD = LVCMOS33;
#NET "ET_PD_BIAS_A" LOC = J22;
#NET "ET_PD_BIAS_A" IOSTANDARD = LVCMOS33;
#NET "ET_PD_BIAS_B" LOC = R22;
#NET "ET_PD_BIAS_B" IOSTANDARD = LVCMOS33;
#NET "ET_IDSET_A[1]" LOC = E20;
#NET "ET_IDSET_A[1]" IOSTANDARD = LVCMOS33;
#NET "ET_IDSET_A[0]" LOC = F20;
#NET "ET_IDSET_A[0]" IOSTANDARD = LVCMOS33;
#NET "ET_IDSET_B[1]" LOC = V21;
#NET "ET_IDSET_B[1]" IOSTANDARD = LVCMOS33;
#NET "ET_IDSET_B[0]" LOC = V20;
#NET "ET_IDSET_B[0]" IOSTANDARD = LVCMOS33;
#NET "ET_HYST_A" LOC = H20;
#NET "ET_HYST_A" IOSTANDARD = LVCMOS33;
#NET "ET_HYST_B" LOC = T20;
#NET "ET_HYST_B" IOSTANDARD = LVCMOS33;
#NET "ET_DRV_STR_A[1]" LOC = D21;
#NET "ET_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
#NET "ET_DRV_STR_A[0]" LOC = E22;
#NET "ET_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
#NET "ET_DRV_STR_B[1]" LOC = W20;
#NET "ET_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
#NET "ET_DRV_STR_B[0]" LOC = V22;
#NET "ET_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
#NET "ET_SR_A" LOC = D22;
#NET "ET_SR_A" IOSTANDARD = LVCMOS33;
#NET "ET_SR_B" LOC = W22;
#NET "ET_SR_B" IOSTANDARD = LVCMOS33;
#NET "ET_PUDEN_TX_A" LOC = J19;
#NET "ET_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
#NET "ET_PUDEN_TX_B" LOC = N22;
#NET "ET_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
#NET "ET_PUDEN_RX_A" LOC = K22;
#NET "ET_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
#NET "ET_PUDEN_RX_B" LOC = N20;
#NET "ET_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
#NET "ET_PUDPOL_TX_A" LOC = K21;
#NET "ET_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
#NET "ET_PUDPOL_TX_B" LOC = M22;
#NET "ET_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
#NET "ET_PUDPOL_RX_A" LOC = K20;
#NET "ET_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
#NET "ET_PUDPOL_RX_B" LOC = M21;
#NET "ET_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
#NET "ET_TEST_A[1]" LOC = L20;
#NET "ET_TEST_A[1]" IOSTANDARD = LVCMOS33;
#NET "ET_TEST_A[0]" LOC = L22;
#NET "ET_TEST_A[0]" IOSTANDARD = LVCMOS33;
#NET "ET_TEST_B[1]" LOC = M19;
#NET "ET_TEST_B[1]" IOSTANDARD = LVCMOS33;
#NET "ET_TEST_B[0]" LOC = M20;
#NET "ET_TEST_B[0]" IOSTANDARD = LVCMOS33;
#NET "ET_POR" LOC = P20;
#NET "ET_POR" IOSTANDARD = LVCMOS33;
#NET "ETA_DIN[0]" LOC = H21;
#NET "ETA_DOUT[0]" LOC = F21;
#NET "ETB_DIN[0]" LOC = T21;
#NET "ETB_DOUT[0]" LOC = P21;
#NET "ST_SEL_RX_A" LOC = AA18;
#NET "ST_SEL_RX_A" IOSTANDARD = LVCMOS33;
#NET "ST_SEL_RX_B" LOC = AA6;
#NET "ST_SEL_RX_B" IOSTANDARD = LVCMOS33;
#NET "ST_SEL_TX_A" LOC = AB18;
#NET "ST_SEL_TX_A" IOSTANDARD = LVCMOS33;
#NET "ST_SEL_TX_B" LOC = AB6;
#NET "ST_SEL_TX_B" IOSTANDARD = LVCMOS33;
#NET "ST_PD_BIAS_A" LOC = Y17;
#NET "ST_PD_BIAS_A" IOSTANDARD = LVCMOS33;
#NET "ST_PD_BIAS_B" LOC = Y7;
#NET "ST_PD_BIAS_B" IOSTANDARD = LVCMOS33;
#NET "ST_IDSET_A[1]" LOC = AB19;
#NET "ST_IDSET_A[1]" IOSTANDARD = LVCMOS33;
#NET "ST_IDSET_A[0]" LOC = Y19;
#NET "ST_IDSET_A[0]" IOSTANDARD = LVCMOS33;
#NET "ST_IDSET_B[1]" LOC = AA4;
#NET "ST_IDSET_B[1]" IOSTANDARD = LVCMOS33;
#NET "ST_IDSET_B[0]" LOC = Y4;
#NET "ST_IDSET_B[0]" IOSTANDARD = LVCMOS33;
#NET "ST_HYST_A" LOC = AB17;
#NET "ST_HYST_A" IOSTANDARD = LVCMOS33;
#NET "ST_HYST_B" LOC = AB7;
#NET "ST_HYST_B" IOSTANDARD = LVCMOS33;
#NET "ST_DRV_STR_A[1]" LOC = AA21;
#NET "ST_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
#NET "ST_DRV_STR_A[0]" LOC = AB20;
#NET "ST_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
#NET "ST_DRV_STR_B[1]" LOC = AB3;
#NET "ST_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
#NET "ST_DRV_STR_B[0]" LOC = AB4;
#NET "ST_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
#NET "ST_SR_A" LOC = AB21;
#NET "ST_SR_A" IOSTANDARD = LVCMOS33;
#NET "ST_SR_B" LOC = AB2;
#NET "ST_SR_B" IOSTANDARD = LVCMOS33;
#NET "ST_PUDEN_TX_A" LOC = Y15;
#NET "ST_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
#NET "ST_PUDEN_TX_B" LOC = AB10;
#NET "ST_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
#NET "ST_PUDEN_RX_A" LOC = AB14;
#NET "ST_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
#NET "ST_PUDEN_RX_B" LOC = AA10;
#NET "ST_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
#NET "ST_PUDPOL_TX_A" LOC = AA14;
#NET "ST_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
#NET "ST_PUDPOL_TX_B" LOC = AB11;
#NET "ST_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
#NET "ST_PUDPOL_RX_A" LOC = AB13;
#NET "ST_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
#NET "ST_PUDPOL_RX_B" LOC = Y11;
#NET "ST_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
#NET "ST_TEST_A[1]" LOC = AB12;
#NET "ST_TEST_A[1]" IOSTANDARD = LVCMOS33;
#NET "ST_TEST_A[0]" LOC = Y13;
#NET "ST_TEST_A[0]" IOSTANDARD = LVCMOS33;
#NET "ST_TEST_B[1]" LOC = Y12;
#NET "ST_TEST_B[1]" IOSTANDARD = LVCMOS33;
#NET "ST_TEST_B[0]" LOC = AA12;
#NET "ST_TEST_B[0]" IOSTANDARD = LVCMOS33;
#NET "ST_POR" LOC = Y9;
#NET "ST_POR" IOSTANDARD = LVCMOS33;
#NET "ST_DIN[0]" LOC = AA8;
#NET "ST_DOUT[0]" LOC = AA16;
#NET "SC_SEL_RX_A" LOC = C12;
#NET "SC_SEL_RX_A" IOSTANDARD = LVCMOS33;
#NET "SC_SEL_RX_B" LOC = C19;
#NET "SC_SEL_RX_B" IOSTANDARD = LVCMOS33;
#NET "SC_SEL_TX_A" LOC = C11;
#NET "SC_SEL_TX_A" IOSTANDARD = LVCMOS33;
#NET "SC_SEL_TX_B" LOC = D20;
#NET "SC_SEL_TX_B" IOSTANDARD = LVCMOS33;
#NET "SC_PD_BIAS_A" LOC = A13;
#NET "SC_PD_BIAS_A" IOSTANDARD = LVCMOS33;
#NET "SC_PD_BIAS_B" LOC = A17;
#NET "SC_PD_BIAS_B" IOSTANDARD = LVCMOS33;
#NET "SC_IDSET_A[1]" LOC = D10;
#NET "SC_IDSET_A[1]" IOSTANDARD = LVCMOS33;
#NET "SC_IDSET_A[0]" LOC = A11;
#NET "SC_IDSET_A[0]" IOSTANDARD = LVCMOS33;
#NET "SC_IDSET_B[1]" LOC = B20;
#NET "SC_IDSET_B[1]" IOSTANDARD = LVCMOS33;
#NET "SC_IDSET_B[0]" LOC = C20;
#NET "SC_IDSET_B[0]" IOSTANDARD = LVCMOS33;
#NET "SC_HYST_A" LOC = D12;
#NET "SC_HYST_A" IOSTANDARD = LVCMOS33;
#NET "SC_HYST_B" LOC = D19;
#NET "SC_HYST_B" IOSTANDARD = LVCMOS33;
#NET "SC_DRV_STR_A[1]" LOC = C9;
#NET "SC_DRV_STR_A[1]" IOSTANDARD = LVCMOS33;
#NET "SC_DRV_STR_A[0]" LOC = C10;
#NET "SC_DRV_STR_A[0]" IOSTANDARD = LVCMOS33;
#NET "SC_DRV_STR_B[1]" LOC = B22;
#NET "SC_DRV_STR_B[1]" IOSTANDARD = LVCMOS33;
#NET "SC_DRV_STR_B[0]" LOC = B21;
#NET "SC_DRV_STR_B[0]" IOSTANDARD = LVCMOS33;
#NET "SC_SR_A" LOC = A9;
#NET "SC_SR_A" IOSTANDARD = LVCMOS33;
#NET "SC_SR_B" LOC = C22;
#NET "SC_SR_B" IOSTANDARD = LVCMOS33;
#NET "SC_PUDEN_TX_A" LOC = D13;
#NET "SC_PUDEN_TX_A" IOSTANDARD = LVCMOS33;
#NET "SC_PUDEN_TX_B" LOC = A16;
#NET "SC_PUDEN_TX_B" IOSTANDARD = LVCMOS33;
#NET "SC_PUDEN_RX_A" LOC = A14;
#NET "SC_PUDEN_RX_A" IOSTANDARD = LVCMOS33;
#NET "SC_PUDEN_RX_B" LOC = B16;
#NET "SC_PUDEN_RX_B" IOSTANDARD = LVCMOS33;
#NET "SC_PUDPOL_TX_A" LOC = B14;
#NET "SC_PUDPOL_TX_A" IOSTANDARD = LVCMOS33;
#NET "SC_PUDPOL_TX_B" LOC = C16;
#NET "SC_PUDPOL_TX_B" IOSTANDARD = LVCMOS33;
#NET "SC_PUDPOL_RX_A" LOC = C14;
#NET "SC_PUDPOL_RX_A" IOSTANDARD = LVCMOS33;
#NET "SC_PUDPOL_RX_B" LOC = E16;
#NET "SC_PUDPOL_RX_B" IOSTANDARD = LVCMOS33;
#NET "SC_TEST_A[1]" LOC = A15;
#NET "SC_TEST_A[1]" IOSTANDARD = LVCMOS33;
#NET "SC_TEST_A[0]" LOC = D14;
#NET "SC_TEST_A[0]" IOSTANDARD = LVCMOS33;
#NET "SC_TEST_B[1]" LOC = D15;
#NET "SC_TEST_B[1]" IOSTANDARD = LVCMOS33;
#NET "SC_TEST_B[0]" LOC = C15;
#NET "SC_TEST_B[0]" IOSTANDARD = LVCMOS33;
#NET "SC_POR" LOC = D17;
#NET "SC_POR" IOSTANDARD = LVCMOS33;
NET "SCA_DIN[0]" LOC = B12;
NET "SCA_DOUT[0]" LOC = B10;
#NET "SCB_DIN[0]" LOC = A20;
#NET "SCB_DOUT[0]" LOC = B18;
#CONFIG PROHIBIT = PLL_ADV_X0Y0;
#CONFIG PROHIBIT = PLL_ADV_X0Y1;
#CONFIG PROHIBIT = PLL_ADV_X0Y2;

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 40 ns HIGH 50 %;
NET "clkss" TNM_NET = clkss;
TIMESPEC TS_clkss = PERIOD "clkss" TS_CLK / 32 HIGH 50 %;
NET "clks" TNM_NET = clks;
TIMESPEC TS_clks = PERIOD "clks" TS_clkss * 4 HIGH 50 %;
NET "i_pll_ctrl/div16" TNM_NET = i_pll_ctrl/div16;
TIMESPEC TS_i_pll_ctrl_div16 = PERIOD "i_pll_ctrl/div16" TS_clks * 16 HIGH 50%;
NET "i_pll_ctrl/RSTXS" TIG = TS_CLK;
NET "i_pll_ctrl/RSTXS" TIG = TS_i_pll_ctrl_div16;
NET "i_pll_ctrl/RSTXS" TIG = TS_clks;
NET "i_pll_ctrl/RSTXS" TIG = TS_clkss;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_CLK;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_i_pll_ctrl_div16;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_clks;
NET "i_pll_ctrl/rstxs_p1" TIG = TS_clkss;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_CLK;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_i_pll_ctrl_div16;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_clks;
NET "i_pll_ctrl/RSTXS_inv" TIG = TS_clkss;
TIMESPEC TS_false_p2f = FROM "CLK" TO "i_pll_ctrl/div16" TIG;
TIMESPEC TS_false_p2s = FROM "CLK" TO "clks" TIG;
TIMESPEC TS_false_f2p = FROM "i_pll_ctrl/div16" TO "CLK" TIG;
TIMESPEC TS_false_s2p = FROM "clks" TO "CLK" TIG;
